﻿@using Znode.Engine.WebStore.ViewModels
@model WidgetBrandListViewModel

@if (Model?.Brands?.Count > 0)
{
    @*<h3 class="product-list-title">@Html.RenderMessage(WebStoreConstants.Brands)</h3>*@

    <div class="BestSeller product-list-widget">
        <ul class="owl-carousel owl-theme Link_Products_Widget owl-brand" id="BrandImg">
            @foreach (var brand in Model.Brands)
            {
                if (!Equals(brand.BrandViewModel, null) && brand.BrandViewModel.IsActive)
                {
                    <li>
                        <a href="@brand.BrandViewModel.Custom3" data-lightbox="enlarge">
                            <img src="@brand.BrandViewModel.ImageThumbNailPath" class="img-responsive" data-src="@brand.BrandViewModel.ImageThumbNailPath" alt="@brand.BrandViewModel.BrandName" title="@brand.BrandViewModel.BrandName" />
                           
                        </a>
                    </li>
                }
            }
        </ul>
    </div>

    <script>
        $(document).ready(function () {
            var checkWidth = $(document).width();
            if (checkWidth <= 1199) {
                $("#BrandImg").owlCarousel({
                    loop: false,
                    margin: 10,
                    //navigation: false,
                    //navigationText: [
                    //    "<i class='fa fa-arrow-circle-left font-sizehome'></i>",
                    //    "<i class='fa fa-arrow-circle-right font-sizehome'></i>"
                    //],
                    itemsCustom: [
                        [0, 1],
                        [320, 1],
                        [480, 1],
                        [600, 4],
                        [768, 4],
                        [992, 5],
                        [1200, 9]
                    ]
                });
            }

        });


    </script>

}

