﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row">
    <div class="Newsletter hidden-xs" id="FooterContent">
        <div class="container">
            <div class="row">
                <div id="NewsLetterSignUp">
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="FooterTopSection">
        <div class="container container-mobile nopadding-potrait">
            <div class="col-md-12 nopadding-mobile FooterSection nopadding-potrait">
                <!--Shop Now-->
                <div class="col-md-2 col-xs-12 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div class="widget">
                        <div class="header-footer">
                            <a href="#" onclick="Openclosemenu()" class="navbar-toggle mobile-toggle-menu hidden-lg hidden-md hidden-sm visible-xs mobile-shop-now" data-toggle="collapse" data-target="#navbar-collapse-nav"><h2>@Html.RenderMessage("ShopNow") <span class="pull-right"><i class="fa fa-plus-circle fa-mobile-size"></i></span></h2></a>
                            <h2 class="hidden-xs visible-sm visible-lg visible-md">@Html.RenderMessage("ShopNow")</h2>
                        </div>
                        <div class="footer-help-section-link hidden-xs visible-sm visible-lg visible-md">
                            <z-widget>@Html.WidgetPartial("LinkPanel", "ShopNow", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                        </div>
                    </div>
                    <!--Accordian call-->
                </div>

                <!--Footer Customer Service Widget-->
                <div class="col-md-3 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion1" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingTwo">
                            <h2 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @Html.RenderMessage("CustomerService")
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse desktop-collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "CustomerServiceMobile", "2456", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Store Specail Feature Widget-->
                <div class="col-md-3 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion2" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingThree">
                            <h2 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @Html.RenderMessage("SpecialFeature")
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse desktop-collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "SpecialFeatureMobile", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Store Company Info Widget-->
                <div class="col-md-2 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion3" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingFour">
                            <h2 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    @Html.RenderMessage("CompanyInfo")
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse desktop-collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="card-block">
                                <div class="footer-help-section-link" data-test-selector="divFooterInfoWidget">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "CompanyInfoMobile", "2985", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Store We Accept Widget-->
                <div class="col-md-2 nopadding-mobile FooterMenu sec1 nopadding-potrait">
                    <div id="accordion4" role="tablist" aria-multiselectable="true" class="widget">
                        <div role="tab" id="headingFive">
                            <h2 class="card-header py-3 border-0 text-uppercase text-bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    @Html.RenderMessage("WeAccept")
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse desktop-collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="card-block">
                                <div class="footer-help-section-link">
                                    <z-widget>@Html.WidgetPartial("LinkPanel", "WeAcceptMobile", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 hidden-xs">
                    <div class="Copyright">
                        <div>
                            @Html.RenderMessage("FooterRightsReserved")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
        string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    }
    <div class="FooterBottomSection">
        <div class="container">
            <div>
                <div class="col-lg-12 col-sm-12 col-xs-12 BottomSection">
                    <div class="SocialMedia" style="display: inline-flex;">
                        <p><span class="Title1">Share Us</span></p>
                        <ul>
                            <li><a title="Facebook" href="https://www.facebook.com/rogansshoes" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/facebook-4-48.png" alt="Facebook" /></a></li>
                            <li><a title="Twitter" href="https://twitter.com/rogansshoes" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/twitter-4-48.png" alt="Twitter" /></a></li>
                            <li><a title="YouTube" href="https://www.youtube.com/profile?user=RogansShoes" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/youtube-4-48.png" alt="YouTube" /></a></li>
                            <li><a title="RogansBlog" href="http://blog.rogansshoes.com/" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/blogger-4-48.png" alt="RSBlogger" /></a></li>
                            <li><a title="Instagram" href="https://www.instagram.com/rogansshoes/" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/instagram-4-48.png" alt="Instagram" /></a></li>
                            <li><a title="Pinterest" href="http://www.pinterest.com/rogansshoes/" target="_blank" rel="nofollow"><img src="~/Views/Themes/RogansShoes/Images/pinterest-4-48.png" alt="Pinterest" /></a></li>
                        </ul>

                        @*<div>
            @Html.RenderMessage("FooterSocialMediaLink")
        </div>*@
                    </div>
                    <div class="Email">
                        @{
                            string customerServiceEmailValue = customerServiceEmail;
                            if (!string.IsNullOrEmpty(customerServiceEmailValue))
                            {
                                char[] seperator = new char[] { ',' };
                                string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                                foreach (string email in customerServiceEmails)
                                {
                                    <a href="@(" mailto:" + email)" title="Email">@email</a>
                                }
                            }
                        }
                    </div>
                    <div class="Phone"><a href="tel:@customerServicePhoneNumber" title=@customerServicePhoneNumber>@customerServicePhoneNumber</a></div>
                </div>
                <div class="col-md-12 hidden-lg hidden-md visible-xs margin-bottom">
                    <div class="Copyright">
                        <div>
                            @Html.RenderMessage("FooterRightsReserved")
                        </div>
                    </div>
                </div>
            </div>
                @*<div class="row">
                    <div class="BottomMenu">
                        @Html.RenderMessage("BottomMenuMobile")
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!--Scroll To Top-->
<a href="#layout" class="back-to-top"><i class="zf-up"></i></a>
