﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using System.Threading.Tasks;
@using Microsoft.AspNet.Identity;
@using Znode.Engine.WebStore.ViewModels;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
   
    string customerServiceEmail = _portal?.CustomerServiceEmail;
    string customerServicePhoneNumber = _portal?.CustomerServicePhoneNumber;
    //CartViewModel cartItems = RSWidgetHelper.GetCart();
    //decimal cartCount = @WidgetHelper.GetCartCount();/*0.00M;*///;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
}


<div class="col-xs-12 col-sm-12 col-md-12 hidden-lg hidden-sm hidden-md visible-xs shipping-info">
    <div class="ShippingInfo">@Html.RenderMessage("ShippingInfo")</div>
</div>

<div id="HeaderWrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 nopadding">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div id="Logo">
                        <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                            @{
                                if (string.IsNullOrEmpty(logo))
                                {
                                    <h1>@title</h1>
                                }
                                else
                                {
                                    <img src="@logo" data-src="@logo" alt="Rogans Shoes" title="Rogans Shoes" class="img-responsive b-lazy" data-test-selector="imgLogoImage"/>
                                }
                            }
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 nopadding col-md-3 col-xs-12">
                    <div class="col-xs-12 hidden-lg hidden-sm hidden-md visible-xs">
                        <div class="CustomerServiceLinks">
                            <div class="SearchSection">
                                <div id="SearchEngine">
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-xs no-padding-pro">
                        <div class="ShippingInfo">@Html.RenderMessage("ShippingInfo")</div>
                    </div>
                    
                </div>
                
                <div class="col-lg-6 col-md-6 col-xs-5 col-sm-4 nopadding-left RightTopcontent pull-right text-right">
                    <span class="MyStore hidden-xs">
                        @if (currentUser != null)
                        {
                            string store = currentUser.Custom2 == null ? "Locate A Store" : currentUser.Custom2;
                            <span class="StoreLocatorLink"><a title="My Store" href="../Home/storeLocator"><span>@store</span></a></span>
                        }
                        else
                        {
                            <span class="StoreLocatorLink"><a title="@Html.Action("MyStore", "CustomUser")" href="../Home/storeLocator"><span>@Html.Action("MyStore", "CustomUser")</span></a></span>
                        }
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    </span>
                    <div id="ShoppingCart">
                        <div class="set-signin">
                            <div class="set-signin"><span class="hidden-xs">@Html.Action("LoginStatus", "User")&nbsp;&nbsp;|&nbsp;&nbsp;</span><div class="Title"><span class="Text"><a id="cart" href="/cart" class="CartItemCountText"><span title="Bag" class="BagTitle"><span>@Html.RenderMessage("MessageConfig")<span class='cartcount' data-test-selector="linkCartCount"></span></span><span class="hidden-xs"> Item<span class="ItemsText">(s)</span></span></span> </a></span></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12 nopadding mobile-absolute">
                <!------ Include the above in your HEAD tag ---------->
                <div class="container nopadding-mobile">
                    <nav class="navbar">
                        <div class="RightTopcontent navbar-brand">
                            <div class="TitleText hidden-xs">@Html.RenderMessage("TopOneLineText")</div>
                        </div>

                        <div class="navbar-header">
                            <button onclick="Openclosemenu()" type="button" class="navbar-toggle mobile-toggle-menu" data-toggle="collapse" data-target="#navbar-collapse-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span id="ShowMenu" class="menuset">Menu</span>
                            </button>
                        </div>
                        <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                        
                    </nav>
                    <div class="LeftTopcontent navbar-brand hidden-xs">
                        <div class="CustomerServiceLinks">
                            <div class="SearchSection desktop-index">
                                <div id="SearchEngine">
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    <z-widget>@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 col-sm-12 col-md-12 nopadding hidden-xs">
    <div class="header-nav-container">
        <div class="container">
            <div id="divSiteWideBanner" class="PromoSection">
                <div class="text-content less-content">
                    <div class="text-block">
                        <div class="text-content less-content">
                            <div class="text-block">
                                @Html.RenderMessage("HeaderTwoLineText")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    /*nivi code start: For cache control only add headers*/
    $.ajax({ url: "/Home/GetCartCount", type: "get", headers: { "cache-control": "no-cache", "Pragma": "no-cache" } }).done(function (t) { $(".cartcount").html(t); });
    /*nivi code end: For cache control*/

    /*global jQuery:false */
    jQuery(document).ready(function ($) {
        "use strict";
        //Navi hover
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        });

    });

    //Hamburger Menu text menu/close
    function Openclosemenu() {
        var x = document.getElementById("ShowMenu");
        if (x.innerHTML === "Menu") {
            x.innerHTML = "Close";
            $(".mainmenu").show();
            $(".Submenumobile").hide();
        } else {
            x.innerHTML = "Menu";
        }
    }

</script>


