﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@using System.Globalization
@using Znode.Libraries.ECommerce.Utilities;
@{
    string regionName = string.Empty;
    foreach (var item in PortalAgent.CurrentPortal.Locales)
    {
        int localeid = Convert.ToInt32(Request.Cookies["_WebStoreculture"].Value);
        if (item.LocaleId == localeid)
        {
            CultureInfo culture = new CultureInfo(item.Code);
            regionName = culture.Name;
        }
    }

    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
}
<div class="RoundedBox">
    <form id="searchForm" action="/Search" method="GET">
        <div class="" data-test-selector = "txtSearch">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.LabelSearch, @class = "margintop-0", @id = "searchTextBox", @Name = "SearchTerm", @data_test_selector = "txtSearch", @value = WebStore_Resources.LabelSearch, @title = WebStore_Resources.LabelSearch } })
            <span class="Button">
                <button type="submit" class="Button" id="btnSearchTerm" title="Search" data-test-selector="btnSearchTerm">@WebStore_Resources.LabelGo</button>
            </span>
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
    @if (isEnableVoiceBasedSearch)
    {
        <a data-test-selector="btnVoiceSearch" href="javascript:void(0)" onclick="" id="btnVoiceSearch" class="keyboard-icon" title="Voice Search"><i class="zf-keyboard_voice"></i></a>
    }
</div>

<div class="search-widget">

</div>
<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });
</script>
