﻿@using Znode.Engine.WebStore.ViewModels
@model IEnumerable<GiftCardHistoryViewModel>
@if (Model.Any())
{
    <div class="account-recent-orders table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@WebStore_Resources.TitleOrderNumber</th>
                    <th>@WebStore_Resources.TitleGiftCardNumber</th>
                    <th>@WebStore_Resources.TitleTransactionDate</th>
                    <th>@WebStore_Resources.TitleTransactionAmount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td class="recent-order-date">
                            @items.OrderNumber
                        </td>
                        <td class="recent-order-date">
                            @items.GiftCardNumber
                        </td>
                        <td class="recent-order-id">
                            @items.TransactionDate.ToDateTimeFormat()
                        </td>
                        <td class="recent-order-total">
                            @Helper.FormatPriceWithCurrency(items.TransactionAmount, items.CurrencyCode)
                        </td>

                        <td class="recent-order-reorder">
                            <a href="/User/OrderReceipt?OmsOrderId=@items.OrderId">@WebStore_Resources.TextView</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-xs-12 nopadding">
        <p>@WebStore_Resources.MessageNoItem</p>
    </div>
}
