﻿@using Znode.Engine.WebStore.ViewModels
@using ZNode.Libraries.ECommerce.Utilities;
@{
    int shippingId = 0;
    int count = 1;
}
@model OrdersViewModel

<div id="layout-account-receipt" class="main-wrapper">
    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Html.Raw(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt right-container">

                    <a class="receipt-print pull-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                            <h3 class="section-header-color">@WebStore_Resources.TextDetails:</h3>
                            <div><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                            <div><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                            <div><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentType</div>
                            @if (Model.PaymentType == ZnodeConstant.PurchaseOrder)
                            {<div><strong>@Admin_Resources.LabelPurchaseOrderNumber</strong> @Model.PurchaseOrderNumber</div>}
                            <div><strong>@WebStore_Resources.TitleTracking:</strong> @Model.TrackingNumber</div>
                            @if (HelperUtility.IsNotNull(Model.CouponCode))
                            {
                                <div><strong>@WebStore_Resources.LabelCouponCode:</strong> @Html.Raw(Model.CouponCode)</div>
                            }
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                            <h3 class="section-header-color">&nbsp;</h3>
                        </div>
                        <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                            <h3 class="section-header-color">@WebStore_Resources.TitleBillingTo</h3>
                            @Html.Raw(Model.BillingAddressHtml)
                        </div>
                    </div>

                    <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                        <div class="table-responsive">
                            <table class="table table-tr">

                                @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                {
                                    bool headerFlag = false;
                                    if (!Equals(shippingId, items.OmsOrderShipmentId))
                                    {
                                        <tr class="shipment-address">
                                            <td colspan="7">
                                                <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                    <div class="user-receipt">
                                                        <h3>@WebStore_Resources.ShipmentLable #@count</h3>
                                                        @Html.Raw(items.ShippingAddressHtml)
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        shippingId = items.OmsOrderShipmentId;
                                        count++;
                                        headerFlag = true;
                                    }
                                    if (headerFlag)
                                    {

                                        <tr class="table-heading">
                                            <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                            <th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>
                                            <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                            <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                            <th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>
                                            <th class="table-td receipt-column-action"></th>
                                        </tr>

                                    }

                                    <tr class="receipt-item table-tr">
                                        <td class="table-td receipt-column-item">
                                            @Html.Raw(items.ProductName)
                                            <br />
                                            <div class="cart-item-description">
                                                @if (items?.PersonaliseValueList?.Count > 0)
                                                {
                                                    foreach (var item in items?.PersonaliseValueList)
                                                    {
                                                        if (!Equals(item.Value, null) && !Equals(item.Value, string.Empty))
                                                        {
                                                            <p>
                                                                @item.Key: @item.Value
                                                            </p>
                                                        }

                                                    }
                                                }
                                            </div>

                                        </td>
                                        <td class="table-td">
                                            <div>@Html.Raw(@items.Description)</div>
                                        </td>
                                        <td class="table-td receipt-column-quantity">
                                                @if ((items.Quantity) % 1 == 0)
                                                {
                                                    @String.Format("{0:n0}", items.Quantity.ToInventoryRoundOff())
                                                }
                                                else
                                                {
                                                    var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                    @orderedQuantity
                                                }
                                        </td>
                                            <td class="table-td receipt-column-price">
                                                @Helper.FormatPriceWithCurrency(items.Price, Model.CurrencyCode)
                                            </td>
                                            <td class="table-td receipt-column-total">
                                                @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CurrencyCode)
                                            </td>

                                        <td class="table-td receipt-column-action">
                                            <a href="/user/ReorderOrderLineItem/@items.OmsOrderLineItemsId">@WebStore_Resources.TextReoder</a>
                                        </td>
                                    </tr>

                                }
                            </table>
                        </div>
                        @Html.Partial("_ReceiptCalculation", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>