﻿@model Znode.Engine.WebStore.ViewModels.WidgetProductViewModel
@using Znode.Engine.WebStore.Agents
@using ZNode.Libraries.ECommerce.Utilities
@{
    bool CallForPricing = Convert.ToBoolean(Model.ProductViewModel.Attributes?.Value(ZnodeConstant.CallForPricing));
    string disable = CallForPricing || !Model.ProductViewModel.ShowAddToCart ? "disabled" : "";
    string productType = Model.ProductViewModel?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.ProductViewModel.SalesPrice, null) || !Equals(Model.ProductViewModel.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CurrencyCode)) : Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.ProductViewModel.CurrencyCode);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.ProductViewModel.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode)) : Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode);}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                    <div class="image">
                        <img id="@Model.ProductViewModel.PublishProductId" src="@Model.ProductViewModel.ImageSmallPath" class="img-responsive" data-src="@Model.ProductViewModel.ImageSmallPath" alt="Product" />
                    </div>
                </a>
                <button onclick="Product.prototype.GetProductDetails(this)" class="btn-card btn-quick-view grey hvr-shadow" data-review-state-id="" data-product-is-active="" data-value="@Model.ProductViewModel.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup">@WebStore_Resources.ButtonQuickView</button>
            </div>

            <div class="product-details">
                <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">
                    <h4 class="title">@WebUtility.HtmlDecode(Model.ProductViewModel.Name)</h4>
                </a>
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.ProductViewModel.Rating)
                    (@Model.ProductViewModel.TotalReviews) <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model.ProductViewModel.PublishProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@WebStore_Resources.LinkTextReadReviews</a>
                </div>
                @if (CallForPricing)
                {
                    <h4>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</h4>
                }
                else
                {
                    <div class="price" data-sku="@Model.ProductViewModel.SKU" data-type="@Model.ProductViewModel.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.ProductViewModel.GroupProductPriceMessage))
                            {
                                <label>@Model.ProductViewModel.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.ProductViewModel.SalesPrice, null))
                                {
                                    <span>
                                        @Helper.FormatPriceWithCurrency(Model.ProductViewModel.SalesPrice, Model.CurrencyCode)
                                    </span>
                                    if (Model.ProductViewModel.SalesPrice != @Model.ProductViewModel.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.ProductViewModel.PromotionalPrice > 0)
                                    {
                                        <label>
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.PromotionalPrice, Model.CurrencyCode)
                                        </label>
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode)
                                        </span>
                                    }
                                    else
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.ProductViewModel.RetailPrice, Model.CurrencyCode)
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.ProductViewModel.SKU" data-type="@productType">Loading...</label>
                        }

                    </div>
                    if (!string.IsNullOrEmpty(disable))
                    {
                        <div class="item-error-msg">
                            <p class="error-msg">@Model.ProductViewModel.InventoryMessage</p>
                        </div>
                    }
                }
                <a href="@Url.GetProductUrl(Model?.ProductViewModel.SEOUrl, Model?.ProductViewModel.PublishProductId.ToString())">View More Details</a>

                @*@if (Equals(productType, ZnodeConstant.GroupedProduct) || Equals(productType, ZnodeConstant.ConfigurableProduct))
                    {
                        @Html.ActionLink("View More Details", "Details", "Product", new { id = Model.ProductViewModel.PublishProductId })
                    }
                    else
                    {
                        @Html.AddToCartLink(@WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.ProductViewModel.CartParameter, "btn-card btn-add-cart red hvr-shadow", "Product.prototype.GetProductOutOfStockDetails(this, event)", disable)
                    }*@
            </div>
        </div>
    </div>
</div>
