﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using ZNode.Libraries.ECommerce.Utilities;
<h1 class="product-name">@WebUtility.HtmlDecode(Model.Name)</h1>
<div class="product-rating">
    @Html.Partial("_StarRating", Model.Rating)
    @{
        int totalreviews = 0;
        totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
    }
    (@totalreviews) <a href="#scrollReview" onclick="javascript: $('#tab-reviews').click();">@WebStore_Resources.LinkTextReadReviews</a>
</div>
<div class="col-xs-12 nopadding">
    <div class="product-number-details">
        <div class="product-number">
            @if (!string.IsNullOrEmpty(Model.SKU))
            {
                <span>@WebStore_Resources.LabelProductItem:</span>
                string sku = !string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.ConfigurableProductSKU : Model.SKU;
                @Html.Raw(sku)
            }
        </div>
        <div class="product-brand">
            @if (!string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.Brand)))
            {  
                <span>@WebStore_Resources.LabelProductBrand</span>
                <a href="@Url.GetBrandUrl(Model.BrandSeoUrl, null, Model.BrandId)">
                @Html.Raw(Model.Attributes?.Value(ZnodeConstant.Brand))
                </a>
            }
        </div>
        <div class="col-xs-12 product-vendor nopadding">
            @*@if (!string.IsNullOrEmpty(Model.VendorName))
                {
                    <span>@Resources.ZnodeResource.TextVendorName</span>
                    <a href="mailto:@Model.VendorEmail">@Html.DisplayFor(x => x.VendorName)</a>
                }*@
        </div>
        @*<div class="col-xs-12 product-vendor nopadding">
                @if (!string.IsNullOrEmpty(Model.ManufacturerPart))
                {
                    <span>@Resources.ZnodeResource.LabelManufacturerPart</span>
                    @Html.Raw(Model.ManufacturerPart)
                }
            </div>*@
    </div>
</div>

<div class="col-xs-12 nopadding product-short-description">@Html.Raw(Model.Attributes.Value("ShortDescription"))</div>
<div class="col-xs-12 nopadding product-description">@Html.Raw(Model.Attributes.Value("LongDescription"))</div>

<div class="col-xs-12 highlight-container nopadding">
    <div class="col-xs-12 product-highlight nopadding">
        @{
            if (Model.PublishProductId > 0)
            {
                List<string> codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.Highlights)?.SelectValues?.Select(y => y.Code)?.ToList();
                if (codesList?.Count > 0)
                {
                    string highLightsCodes = string.Join(",", codesList);
                    Html.RenderAction("GetProductHighlights", "Product", new { productId = Model.PublishProductId, highLightsCodes = highLightsCodes });
                }
            }
        }
    </div>
</div>
