﻿@*<div id="myNavmenu" class="navmenu navmenu-default canvas-slid" role="navigation">
    @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
    <div class="container nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>
</div>*@
<nav class="header-nav yamm" role="navigation">
    <div>
        <div>
            <div class="navbar-collapse collapse" id="navbar-collapse-nav" data-test-selector="divHeaderCategList">
                @{ Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId() }); }
                <a data-test-selector="linkCategoryMenuNextItems" href="javascript:void(0);" class="control_next nav-drop pull-right" style="display:none"><i class="zf-text-view nav-drop-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="container nav-drop-container">
        <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
    </div>
</nav>