﻿@import "_base.scss";
.single-page-checkout{
    .title{background-color:#d5d5d5;padding:9px 0;font-size:$base-font-size + 3;color:$base-color-secondary;font-weight:bold;
        span{background-color:$base-color-primary;padding:6px 15px;margin-right:8px; font-size:$base-font-size + 3;color:$base-color-white;font-weight:bold;}
    }
    .address-block .address-name{font-weight:600;color:#6a6367;}
    .review-order{
        table tr td:first-child,table tr th:first-child{display:none;}
        .cart-item-quantity input[type="text"]{border:none;background-color:transparent;width:auto;pointer-events:none;}
        .shopping-cart{padding:0;}
        .cart-products{overflow:auto;}
    }    

    .signle-page-payment .credit-card-container{
        .nav-tabs{
            li a{background-color:#f5eded;color:$base-color-primary;border-color:#f5eded #f5eded transparent}
            li.active a{background-color:$base-color-primary;color:$base-color-white;}
        }
        .tab-content{padding:10px 0;display:block;}
        .section-heading{font-size:$base-font-size + 3;border-bottom:1px solid $border-bgcolor-default;font-weight:600;color:#6a6367;padding-bottom:10px; display:none;}
        .save-cart{margin-bottom:10px;
            ul{padding:0;
                img{float:left !important;}
            }
        } 
    }
    .cart-total-footnote{display:none;}    
}

.address-popup{    
    .modal-body{display:inline-block;background-color:$base-color-white;}
    .edit-address-form{margin-top:0;}
}

.login-container-popup{
    .login-container{margin:0;
        .inner-container{border:0;padding:0 25px;
          .social{width:100%;}
        }
        .login-form-forgotpassword{display:none;}
    }
}

.ui-dialog{background-color:$base-color-white;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);z-index:99999 !important;
    .ui-dialog-titlebar{font-size:$base-font-size + 2;font-family:$base-font-family-bold;display:block;line-height:26px;color:$base-color-white;background-color:$base-color-primary;padding:15px;}
    .ui-dialog-content{padding:15px;color:$text-fgcolor-default;}
    .ui-dialog-titlebar-close{font-family:$znode-icon-font;font-weight:normal;font-size:$base-font-size + 2;color:$base-color-secondary;content:"\f057";position:absolute;right:5px;top:5px;}
    .ui-dialog-buttonpane{float:left;width:100%;background-color:$base-color-white;padding:10px 15px;border-top:1px solid $border-bgcolor-default;
            .ui-dialog-buttonset{float:right;
                button{@include btn-text;font-size:$base-font-size;padding:0 15px;margin-left:5px;height:24px;line-height:23px;text-transform:capitalize;color:$base-color-white;background-color:$base-bgcolor-button-primary;overflow:hidden;float:left;border-radius:2px;}
            }        
    }
}
.ui-md-popup{width:600px!important; height:auto;}

// Media Query
@include screensize(x-small) {
    .single-page-checkout{padding:0 5px;     
        .shipping-method{padding:0;}
    } 
    .checkout-reciept{padding:0 5px;}
}

@include screensize(small) {
    .single-page-checkout{padding:0;
        .shipping-address-content{padding-right:5px;}
        .shipping-method{padding:0 5px 0 0;}
        .cart-promocode{width:50%;}
    } 
    .checkout-reciept{padding:0;}
}
@include screensize(medium) {
    .single-page-checkout{
        .shipping-address-content{padding-right:0;}
        .shipping-method{padding:0 15px;}
    } 
}