﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">        
        <ul class="aside-panel" id="searchConfigurationAsidePannel">          
            <li class="groupPannel"><a href="/SearchConfiguration/CreateIndex" onclick="SearchConfiguration.prototype.GetStoreSearchConfigurations()" id="lnkCreateIndex" data-test-selector="LinkManageIndex">@Admin_Resources.ButtonManageIndex</a></li>
            @*<li class="groupPannel"><a href="#" onclick="SearchConfiguration.prototype.GetProductBoostValuesByCatalogId()" id="lnkProductBoostList">@Admin_Resources.TitleProductBoostSetting</a></li>
            <li class="groupPannel"><a href="#" onclick="SearchConfiguration.prototype.GetCategoryProductBoostValuesByCatalogId()" id="lnkCategoryBoostList">@Admin_Resources.TitleCategoryBoostSetting</a></li>
            <li class="groupPannel"><a href="#" onclick="SearchConfiguration.prototype.GetFieldBoostValuesByCatalogId()" id="lnkFieldBoostList">@Admin_Resources.TitleFieldBoostSeting</a></li>*@
            <li class="groupPannel"><a href="/Search/Search/GetSearchProfiles"  id="lnkSearchProfileList"  onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSearchProfiles">Search Profiles</a></li>
            @*<li class="groupPannel"><a href="#" onclick="SearchConfiguration.prototype.GetSearchFacets()" id="lnkSearchFacetsList">Search Facets</a></li>*@
            <li class="groupPannel"><a href="/SearchConfiguration/GetSearchSynonymsList" id="lnkSynonymsList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSynonyms">@Admin_Resources.TitleSynonyms</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/GetCatalogKeywordsList" id="lnkKeywordsRedirectList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkKeywordsRedirect">@Admin_Resources.TitleKeywordsRedirect</a></li>
            <li class="groupPannel"><a href="/Search/Search/GetBoostAndBuryRules" id="lnkSearchProfileList" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkBoost&Bury">Boost & Bury</a></li>
        </ul>
    </div>
</aside>
