﻿@model WidgetParameter
<div class="container-fluid" id="footer-content-area"></div>
<script>$.ajax({ url: "/Home/Footer", type: "get",footerContext:true }).done(function (t) { $("#footer-content-area").html(t); InitbLazy();});</script>