﻿@using Znode.Engine.WebStore.ViewModels
@{ 
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
 string catname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
  string visibleInNav = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
    //string catname = category.CategoryName
    if (visibleInNav == "true" || visibleInNav == "1")
    {
    <!--Columns--> 
    <div class="submenu-section">
        <div class="submenu-block clearfix">
            <div class="content-section">
                <h3 style="margin:5px 0px 5px 0px;"><a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" itemprop="url" class="submenuhead openclose" data-test-selector="linkSubCategoryItemList" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(catname)</a></h3>
                <ul class="content-menu">
                    @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                    {
                        @Html.Partial("_HeaderSubNav2", subCategory.ChildCategoryItems)
                    }
                </ul>
            </div>
        </div>
    </div>
	}
}