﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    WebstoreHelper helper = new WebstoreHelper();
    UserViewModel currentUser = helper.GetUserViewModelFromSession();
}
@model CategoryHeaderListViewModel
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}




<ul class="nav navbar-nav">
    @{
        if (Model?.BrandList?.Count > 0)
        {
            <li>
                <a href="/Brand/List" title="@WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)"><span class="plus"><i class="fa fa-plus" style="color:#fff;"></i></span> @WebUtility.HtmlDecode(WebStore_Resources.LabelBrands)</a>
            </li>
        }
        int countRow = 0;

        <span class="pull-right"><button type="button" onclick="Openclosemenu()" class="navbar-toggle mobile-close" data-toggle="collapse" title="Close" data-target="#navbar-collapse-nav"><span>X</span></button></span>
        foreach (var category in Model.Categories)
        {
			if(category.CategoryName == "Shop by Brand"){continue;}
            string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
            string visibleInNav = category.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
            //string CategoryName =  catname;
            countRow += 1;
            string Id = "Submenumobile" + countRow.ToString();
            if (visibleInNav == "true" || visibleInNav == "1")
            {
                <li class="dropdown mega-dropdown mainmenu">
                    <a href="#" id="myBtn" onclick="return expanddiv('@Id',$(this));" title="@Html.RenderBlock(WebUtility.HtmlDecode(catname))"><span class="plus"><i class="fa fa-plus"></i></span> @Html.RenderBlock(WebUtility.HtmlDecode(catname))</a>
                    <!-- The SubMenuNavbar Modal -->
                    <div id="@Id" class="modal mobile-menu-popup Submenumobile">

                        <div class="modal-content">
                            <div class="col-xs-12 nopadding" onclick="ShowMainMenu()"><span class="close close1"><span class="mobileexit" title="Back To Menu"><i class="fa fa-chevron-left"></i> Back To Menu</span></span> <span class="pull-right"><button type="button" onclick="Openclosemenu()" class="navbar-toggle mobile-close1" data-toggle="collapse" data-target="#navbar-collapse-nav" title="Close"><span>X</span></button></span></div>
                            <div class="col-xs-12 nopadding"><h3 class="close2title mobileexit" title="@catname">@Convert.ToString(@catname).Replace("&amp;","&")</h3></div>
                            <div class="col-xs-12 nopadding">
                                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                                {
                                    <ul class="submenu-ul">
                                        @Html.Partial("_MobileSubNav", category.SubCategoryItems, new ViewDataDictionary { { "CategoryName", catname } })
                                    </ul>
                                }
                                <div class="col-xs-12 nopadding"><a href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="mobileViewall" title="VIEW ALL"><i class="fa fa-plus"></i> VIEW ALL</a></div>
                            </div>

                        </div>
                        
                    </div>

                </li>
            }

        }
    }
    <li>
        <i class="fa fa-map-marker mobile-icon-size"></i>
        @if (currentUser != null)
        {
            <span><a title="My Store" href="../Home/storeLocator">@currentUser.Custom2</a></span>
        }
        else
        {
            <span><a title="@Html.Action("MyStore", "CustomUser")" href="../Home/storeLocator">@Html.Action("MyStore", "CustomUser")</a></span>
        }
    </li>
    <li><i class="fa fa-user mobile-icon-size"></i><span>@Html.Action("LoginStatus", "User", true)</span></li>
    @{
        string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
    }
    <li><a class="phone" href="tel:@customerServicePhoneNumber"><i class="fa fa-phone"></i> @customerServicePhoneNumber</a></li>
</ul>


<script>


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
function expanddiv(id,obj) {
    $("#" + id)[0].style.display = "block";
     
}
// When the user clicks anywhere outside of the modal, close it
    //window.onclick = function(event) {
    //  if (event.target == modal) {
    //    modal.style.display = "none";
    //  }
    //}

function ShowMainMenu()
{

    $(".mainmenu").show();
  $(".Submenumobile").hide();

}
</script>




