﻿@using Znode.WebStore.Custom.ViewModel
@model List<RSCategoryViewModel>
@{
    ViewBag.Title = "SubCategories";
}
@if (Model?.Count > 0)
{
    <div class="list-group">
        <div class="panel panel-default" style="border:none;">
            <div class="panel-heading">
                <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_Cat"><span>@WebStore_Resources.TextMoreCategories</span></h4>
            </div>
            <div id="collapseOne_Cat" class="panel-collapse collapse in">
                <div class="padright">
                    <ul class="filter-list">
                        @if (Model?.Count > 0)
                        {
                            <li class="listnewtop"><span class="Rightarrow">» </span> <a class="categoryhead" href="@Url.GetCategoryUrl(Model[0].ParentSEODetails, null, Model[0].ParentCategoryId)">@Model[0].ParentCategoryName (@Model[0].ParentProductIdCount)</a></li>
                            foreach (var category in Model)
                            {
                                //string catname = category.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
                                <li class="listnew">
                                    <span class="Rightarrow">» </span> <a class="categorysubhead" href="@Url.GetCategoryUrl(category.SEOUrl, null, category.CategoryId)">@category.CategoryName (@category.ProductIdCount)</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
