﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);

}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <!-- Breadcrumb -->
    <div id="breadCrumb" class="breadcrumb-container">@Html.Raw(Model.BreadCrumbHtml)</div>
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", Model.CategoryName, Model.CategoryId)</z-widget>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container">                            
                <div class="col-xs-12 nopadding brand-banner">
                    <div class="col-sm-9 nopadding">
                        <h1>@Html.Raw(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                        <p>@Html.Raw(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                    <div class="col-sm-3 nopadding">
                        <img src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="Image" title="@Attributes.Value(Model.Attributes, "ImageAltText")" />
                    </div>
                </div>
                <z-widget>@Html.WidgetPartial("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>

                <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", Model.CategoryName, Model.CategoryId, searchProperties)</z-widget>
            </div>
            @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
            {
                if (!Helper.InfinityLoading)
                {
                    <div class="col-xs-12 nopadding">
                        <div class="category-more text-center margin-top-bottom">

                            @Html.ActionLink(WebStore_Resources.LabelViewAll + "" + @Model.CategoryName, "Index", "Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true },
                                   new { @class = "btn-text red", })
                        </div>
                    </div>
                }
            }
            <div class="col-xs-12 nopadding">                
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
</div>
@section scripts{
    <script src="~/Scripts/lib/infiniteScroll.js"></script>
}



