﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
}

@if (Equals(Model.ProductType, "GroupedProduct") && Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProdcutModel product in Model.GroupProducts)
        {
            using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, FormMethod.Post, new { @id = "frmCartQuantity" }))
            {
                @Html.AntiForgeryToken()
                string quantity = Helper.GetRoundOffQuantity(product.Quantity);
                <input type="text" name='Quantity' value="@quantity" data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                if (Model.InsufficientQuantity)
                {
                    <span class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</span>
                }
                <div id="quantity_error_msg_@product.ProductId" class="error-msg"></div>
            }
        }
    </div>
}
else
{
    using (Html.BeginForm("UpdateCartQuantity", "Cart", new { guid = Model.ExternalId, productId = 0 }, FormMethod.Post, new { @id = "frmCartQuantity" }))
    {
        @Html.AntiForgeryToken()
        string quantity = Helper.GetRoundOffQuantity(Model.Quantity);
        <input type="text" name='Quantity' value="@quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
        if (Model.InsufficientQuantity)
        {
            <span class="error-msg">@WebStore_Resources.ErrorOutOfStockMessage</span>
        }
        <div id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
    }
    <div id="quantity_error_msg" class="error-msg"></div>
}
<script>
    $(document).ready(function () {
        if ('@Model.InsufficientQuantity' == 'True') {
            $("#checkOut-link").addClass('disable-anchor');
            $("#btnCompleteCheckout").addClass('disable-anchor');
            $("#paypal-express-checkout").addClass('disable-anchor');
        }
    })
</script>