﻿@using Znode.Engine.Admin.ViewModels
@model ReviewOrderViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Helpers

@{
    List<CartItemViewModel> cartItemViewModel = Model?.ShoppingCart?.ShoppingCartItems?.ToList();
    var consolidatedCartItems = cartItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
}


<div class="multiple-checkout">
    <div class="col-sm-12 nopadding dashboard-panel">
        <div class="dashboard-panel-heading">
            <h4 class="dashboard-panel-title" data-test-selector="hdgReviewOrder">@Admin_Resources.LabelReviewOrder</h4>
        </div>
        <div class="col-sm-12 padding-left">
            <p id="label-review-order-sub-msg" class="margin-left-15 margin-top-15" data-test-selector="paraReviewOrderMessage">@Admin_Resources.LabelReviewMsg</p>
            @if (HelperUtility.IsNotNull(Model?.ShoppingCart))
            {
                <div class="checkout-totals-shippingto clearfix">
                    <div class="address nopadding col-sm-4 col-lg-3">
                        <h3 class="section-heading margin-left-15" data-test-selector="hdgShippingAddress">@Admin_Resources.TitleShippingAddress</h3>
                        @Html.Partial("_DisplayAddress", Model.ShippingAddress)
                        <div>
                            <h3 class="section-heading margin-left-15" data-test-selector="hdgBillingAddress">@Admin_Resources.TitleBillingAddress</h3>
                            @Html.Partial("_DisplayAddress", Model.BillingAddress)
                        </div>
                    </div>
                    <div class="shipping nopadding col-sm-4 col-lg-3">
                        <h3 class="section-heading" data-test-selector="hdgShippingMethod">@Admin_Resources.LabelShippingMethod</h3>
                        <div class="margin-bottom" id="selectedShippingName" data-test-selector="divSelectedShipping"></div>
                        @if (HelperUtility.IsNotNull(Model.ShoppingCart?.CustomShippingCost))
                        {
                            <p>@string.Format(@Admin_Resources.LabelCustomShippingCost, HelperMethods.FormatPriceWithCurrency(Model.ShoppingCart.CustomShippingCost, Model.ShoppingCart.CultureCode))</p>
                        }
                    </div>

                    <div class="col-sm-4 col-lg-3 nopadding" id="divPaymentReview">
                        <h3 class="section-heading" data-test-selector="hdgPaymentMethod">@Admin_Resources.LabelPaymentMethod</h3>
                        <div class="margin-bottom" id="paymentMethodName" data-test-selector="divSelectedPaymentMethod"></div>
                    </div>

                </div>
                <div class="col-xs-12">
                    <h3 class="section-heading margin-top-25" data-test-selector="hdgItemsOrdered">@Admin_Resources.LabelItemsOrdered</h3>
                    <div class="col-xs-12 list-container cart-products">
                        <div class="cart-product-table" data-test-selector="tblOrderedItems">
                            <ul class="product-list">
                                <li class="product-image">@Admin_Resources.LabelImage</li>
                                <li class="product-label">@Admin_Resources.LabelProduct</li>
                                <li class="product-unit-price">@Admin_Resources.LabelUnitPrice</li>
                                <li class="product-quantity">@Admin_Resources.LabelQuantity</li>
                                <li class="product-total">@Admin_Resources.LabelTotal</li>
                            </ul>
                            @if (Model?.ShoppingCart?.ShoppingCartItems != null)
                            {
                                foreach (CartItemGroupListViewModel cartItemGroup in consolidatedCartItems.OrderBy(x => x.Sequence))
                                {
                                    if (cartItemGroup?.Children != null)
                                    {
                                        if (cartItemGroup?.Children.Count == 1)
                                        {
                                            cartItemGroup?.Children.ForEach(c => c.IsReviewPage = true);
                                            @* do not remove class="product-list-items" used in TS file *@
                                            <ul id="cart-row-div" class="product-list product-list-items">
                                                @Html.Partial("_CartRow", cartItemGroup.Children.FirstOrDefault())
                                            </ul>
                                        }
                                        else if (cartItemGroup?.Children.Count > 1)
                                        {
                                            var totalExtendedPrice = cartItemGroup.Children.Sum(x => x.ExtendedPrice);

                                            foreach (CartItemViewModel variation in cartItemGroup.Children.OrderBy(x => x.Sequence))
                                            {
                                                if (variation.GroupProducts?.Count < 0)
                                                {
                                                    variation.ExtendedPrice = totalExtendedPrice;
                                                }
                                                variation.IsReviewPage = true;
                                                @* do not remove class="product-list-items" used in TS file *@
                                                <ul id="cart-row-div" class="product-list grouped-product-list product-list-items">
                                                    @Html.Partial("_CartRow", variation)
                                                </ul>
                                            }
                                        }
                                    }

                                }
                            }
                        </div>
                    </div>
                </div>
                    <div class="cart-total col-sm-6 col-md-6 col-lg-3 nopadding pull-right margin-bottom" id="divTotal">
                        @Html.Partial("_TotalTable", Model.ShoppingCart)
                    </div>
                    }
                </div>
            </div>
