﻿@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.ViewModels
@model OrdersListViewModel

@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
}

<div id=@Model.GridModel.FrontObjectName>
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitleOrdersList<span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @if (Model.UserId > 0 && Model.AccountId > 0)
            {
                @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "CustomersList", "Account", new { accountId = Model.AccountId }, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })
            }
            @if (Model.UserId == 0)
            {
                @Html.AuthorizedRawActionLink(Admin_Resources.ButtonCreateOrder, "CreateOrder", "Order", null, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkCreateOrder"})
            }
        </div>

    </div>
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm("List", "Orders", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        <div class="col-sm-12 list-container" id="listcontainerId">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "StoreDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Store.prototype.DeleteMultipleStore(this)"}
                         }
                    })
    </section>
</div>
<script>
    $(document).ready(function () {
        Order.prototype.GenerateInvoice();
    });
</script>