﻿@model Znode.Engine.Admin.ViewModels.PriceSKUListViewModel
@using Znode.Engine.Admin.Models
@using Znode.Libraries.Resources
@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.HeaderPricing)<i class="z-minus"></i><span>@Model.ListName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "list", "Price", null, new { @class = "btn-text-icon", @data_test_selector = "linkBack" })            
            <div class="pull-right padding-left">
                @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "AddSKUPrice", "Price", new { @priceListId = Model.PriceListId, listName = HttpUtility.UrlEncode(Model.ListName) }, new { @class = "btn-text btn-text-secondary", value = "Create XML", @data_test_selector = "linkAddNew"})
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        <aside>
            @Html.Partial("~/Views/Shared/_asidePricePanel.cshtml")
        </aside>
        <section class="main-container">
            @using (Ajax.BeginForm(actionName, controllerName, new { priceListId = Model.PriceListId, listName = Model.ListName }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }

            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderConfirmDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "PriceDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Price.prototype.DeleteMultipleSKUPrice(this,'"+Model.PriceListId+"')"}
                         }
                    })
            @Html.HiddenFor(m => m.PriceListId)
            @Html.HiddenFor(m => m.ListName)
        </section>
    </div>
</div>  