﻿@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Helpers;
@model Znode.Engine.WebStore.ViewModels.CheckoutViewModel
@{
    string _display = Convert.ToString(Request.QueryString["mode"]) == "guest" ? Model.UserId < 1 ? "display:block;" : "display:none;" : "display:none;";
    bool enablePerOrderlimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderLimit)?.AttributeValue);
    bool enableUserOrderAnnualLimit = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableUserOrderAnnualLimit)?.AttributeValue);
    UserViewModel userViewModel = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey);
    string cultureCode = PortalAgent.CurrentPortal.CultureCode;
    string perOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.PerOrderLimit, cultureCode);
    string annualOrderLimitWithCurrency = HelperMethods.FormatPriceWithCurrency(userViewModel?.AnnualOrderLimit, cultureCode);
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isRegistered = User.Identity.IsAuthenticated;
    var _portal = PortalAgent.CurrentPortal;
    ViewBag.Title = "Secure Checkout";
    string disablebutton = (Model.IsLevelApprovedOrRejected
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.DRAFT.ToString(), StringComparison.CurrentCultureIgnoreCase)
                          && !string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.ORDERED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                          ? "disabled='disabled'" : "";
}
<style>.loader-inner {position: inherit;padding-top: 0px !important;}</style>
<div id="divSinglePageCheckout" class="main-wrapper OrderPayament">
    <div class="container">
        <div class="single-page-checkout">
            @Html.RenderMessage("Reviewyourorderinfo")
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-12 col-lg-12 nopadding">
                    <div class="PageTitle" data-test-selector="lblCheckoutHeading">@WebStore_Resources.TitleSinglePageCheckoutProcess</div>
                </div>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 col-md-12 col-lg-7 nopadding-left mobile-nopadding nopadding-tablet">
                    <div class="col-xs-12 nopadding">
                        <div style="@_display" class="margin-bottom-10 pull-right">
                            @Ajax.ActionLink("Existing Customer Login", "Login", "User", null,
                             new AjaxOptions
                             {
                                 UpdateTargetId = "address-popup-content",
                                 InsertionMode = InsertionMode.Replace,
                                 HttpMethod = "GET",
                                 OnBegin = "$('.address-popup').modal('hide');",
                                 OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                             }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup",@class = "btn btn-primary margin-bottom",@style= "color:#fff;"})
                        </div>
                        <div style="@_display" class="margin-bottom-10 pull-right">
                            @Ajax.ActionLink("Create an account for later use", "Signup", "User", null,
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "address-popup-content",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "GET",
                                        OnBegin = "$('.address-popup').modal('hide');",
                                        OnSuccess = "$('form').removeData('validator'); $('form').removeData('unobtrusiveValidation'); $.validator.unobtrusive.parse('form');"
                                    }, new { @data_isquickview = "true", @data_toggle = "modal", @data_target = ".address-popup", @class = "btn btn-primary btn-margin-left margin-bottom", @style = "color:#fff;" })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="col-xs-12 col-md-12 nopadding shipping-address">
                            <div class="col-xs-12 nopadding">
                                @{ Html.RenderAction("AccountAddress", "Checkout");}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 nopadding">
                            <div class="col-xs-12 col-sm-12 nopadding shipping-method checkout-box margin-bottom" id="dvShippingOptions">
                                <h3 class="title">@WebStore_Resources.SinglePageCheckoutShippingMethod</h3>
                                <!--Shipping Method Div-->
                                <div id="loaderId"> </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 nopadding signle-page-payment checkout-box margin-bottom">
                                @{ Html.RenderAction("PaymentOptions", "Checkout");}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-5 nopadding-right mobile-nopadding nopadding-tablet">
                    <div class="col-xs-12 nopadding-right nopadding-mobile nopadding-tablet">
                        <div class="col-xs-12 review-order nopadding" id="cart-review-content">
                            @{
                                if (Model.ShippingId > 0)
                                {
                                    Html.RenderAction("CartReview", "Checkout", new { shippingOptionId = Model.ShippingId });
                                }
                                else
                                {
                                    Html.RenderAction("CartReview", "Checkout");
                                }
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding-right nopadding-mobile nopadding-tablet">
                        <div class="form-group margin-top">
                            <div class="col-xs-12 nopadding">
                                <label for="address_name" class="HeaderStyle-SinglePage">@WebStore_Resources.TitleAdditionalInformation</label>
                            </div>
                            <div class="col-xs-12 nopadding" style="width:100% !important;">
                                @Html.TextArea("AdditionalInstruction", new { maxlength = 500, @class = "TextBoxrogan" })
                            </div>
                        </div>

                        <div class="form-group" style="border-bottom:none;">
                            <div class="col-lg-12 col-xs-12 nopadding margin-bottom">
                                <label for="accept_name" class="HeaderStyle-SinglePage">@WebStore_Resources.TitleAcceptTermsandConditions</label>
                            </div>
                            <div class="col-xs-12 nopadding TermsCond">
                                <ul class="filter-list">
                                    <li class="styled-input">
                                        <input id="Agree" type="checkbox" class="FacetFilter">
                                        <label for="Agree" style="margin-bottom: 0px;"> @Html.RenderMessage("Accepttermsandconditions")</label>
                                        <p id="TermsandConditionError" class="error-msg" style="display:none;">Please Accept Terms and Conditions to proceed.</p>
                                    </li>
                                    <li class="styled-input">
                                        <input id="Sendmail" type="checkbox" class="FacetFilter" checked="checked">
                                        <label for="Sendmail" style="margin-bottom: 0px;"> @WebStore_Resources.TitleEmailText</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="Checkout">
                            <div class="col-xs-12 nopadding quotebutton hide-in-amazon-checkout text-left ProceedtoNextButton">
                                @if (Model.ShowPlaceOrderButton && string.Equals(Model.OrderStatus, ZnodeOrderStatusEnum.APPROVED.ToString(), StringComparison.CurrentCultureIgnoreCase))
                                {
                                    <a onclick="Checkout.prototype.SubmitOrder()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="Button checkoutButton" title="@WebStore_Resources.TextPlaceOrder" style="width:100%;"> @WebStore_Resources.TextPlaceOrder</a>
                                }
                                else if (!Model.ShowPlaceOrderButton && (string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.ARA.ToString(), StringComparison.CurrentCultureIgnoreCase) || string.Equals(Model.PermissionCode, ZnodePermissionCodeEnum.SRA.ToString(), StringComparison.CurrentCultureIgnoreCase)))
                                {
                                    <a onclick="Checkout.prototype.SubmitForApproval()" id="singleCheckoutSubmitQuote" name="singleCheckoutSubmitQuote" class="Button singlecheckoutsubmitquote checkoutButton" title="@WebStore_Resources.ButtonSubmitForApproval" style="width:100%;">@WebStore_Resources.ButtonSubmitForApproval</a>
                                }
                                else
                                {
                                    <a onclick="SubmitOrderIfAgreeClicked()" id="btnCompleteCheckout" name="singleCheckoutSubmitPayment" class="Button checkoutButton" title="@WebStore_Resources.TextPlaceOrder" style="width:100%;"> @WebStore_Resources.TextPlaceOrder</a>
                                }
                            </div>
                        </div>
                        <!--Remote Sales Taxt Notice Msg-->
                        <div id="dvTaxDisclaimer" class="col-xs-12 nopadding text-justify" style="display:none;">
                            @Html.RenderMessage("RemoteSalesTaxNotice")
                        </div>
                    </div>
                </div>
            </div>

        </div>



        @Html.HiddenFor(m => m.QuoteId)
        @Html.HiddenFor(m => m.OrderStatus)
        @Html.HiddenFor(m => m.PermissionCode)
        @Html.HiddenFor(m => m.RoleName)
        @Html.HiddenFor(m => m.ShippingId)
        @Html.HiddenFor(model => model.CreditCardNumber, new { @id = "hdnCreditCardNumber" })
        @Html.Hidden("EnablePerOrderlimit", enablePerOrderlimit)
        @Html.Hidden("EnableUserOrderAnnualLimit", enableUserOrderAnnualLimit)
        @Html.Hidden("PerOrderLimit", userViewModel?.PerOrderLimit)
        @Html.Hidden("AnnualOrderLimit", userViewModel?.AnnualOrderLimit)
        @Html.Hidden("AnnualBalanceOrderAmount", userViewModel?.AnnualBalanceOrderAmount)
        @Html.Hidden("PerOrderLimitWithCurrency", perOrderLimitWithCurrency)
        @Html.Hidden("AnnualOrderLimitWithCurrency", annualOrderLimitWithCurrency)
        @Html.HiddenFor(m => m.IsRequireApprovalRouting)
        @Html.HiddenFor(m => m.EnableApprovalRouting)
        @Html.Hidden("hdnPortalId", portalId)
        @Html.HiddenFor(m => m.OrderLimit)
        @Html.HiddenFor(m => m.IsLastApprover, new { @id = "hdnIsLastApprover" })
        @Html.HiddenFor(m => m.IsLevelApprovedOrRejected, new { @id = "hdnIsLevelApprovedOrRejected" })
        @Html.HiddenFor(m => m.QuoteId)
        <script>
            $(document).ready(function () {
                Checkout.prototype.ChangeCartReviewSequence();
                Checkout.prototype.ChangeSubmitOrderButtonText();
            })
        </script>


        <div id='Single-loader-content-backdrop' class='modal-backdrop fade in' style="display:none"><div id='loading' class='loader loader-body'></div></div>

        <!-- Modal -->
        <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" data-test-selector="lblPaymentApplMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodMsg">@WebStore_Resources.TextPaymentMethod</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Payment Modal-->
        <div class="modal fade" id="ErrorPaymentModal" role="dialog">
            <div class="modal-dialog compare-product-popup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
                        <h4 class="modal-title" data-test-selector="lblPaymentApplErrMsg">@WebStore_Resources.LabelPaymentApplication</h4>
                    </div>
                    <div class="modal-body">
                        <p data-test-selector="lblPaymentMethodErrMsg"></p>
                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="pull-right">
                                <button data-test-selector="btnPaymentOk" type="button" class="btn btn-bg-primary" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Address Popup-->
<div class="modal fade address-popup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="" id="address-popup-content">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Checkout.prototype.ShippingOptions()
        Checkout.prototype.CalculateShipping("");
        $(".cart-item-remove").remove();

        var taxCost = $("#hdnTaxCost").val();

        if (taxCost == 0) {
            $("#dvTaxDisclaimer").show();
        }
    });
    $(document).off("click", "#address-popup-content .close");
    $(document).on("click", "#address-popup-content .close", function () {
        location.reload();
    });
</script>

<!--PickUp Store Script -->
<script>  
    function SubmitOrderIfAgreeClicked() { $("#Agree").is(":checked") ? ($("#TermsandConditionError").hide(), Checkout.prototype.SubmitOrder()) : $("#TermsandConditionError").show() }
</script>
