﻿@using Znode.Engine.WebStore.Models
@model List<BaseDropDownOptions>
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@{
    int userId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0;
    var billingAccountNumber = SessionProxyHelper.GetBillingAccountNumber(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0);
}

<div class="col-12 p-0 h-100 b2b-block" id="allPaymentOptionsDiv">
    <h3 class="block-title"><span id="paymentOptionSrNo" class="checkoutBoxSrNo">4</span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
    <div class="col-12 block-content pl-md-5">
        @using (Ajax.BeginForm("GetPaymentProvider", "Checkout", new AjaxOptions() { UpdateTargetId = "payment-provider-content" }))
        {
            @Html.Hidden("paymentOptionsId", new { @id = "paymentOptionsId" });

            foreach (var option in Model)
            {
                <div class="col-12 p-0 styled-input">
                    <input type="radio" id="@option.Type@option.Id" data-isApprovalRequired="@option.Status" data-payment-type="@option.Type" data-isOABRequired="@option.CustomStatus" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                    <label for="@option.Type@option.Id">@option.Text</label>
                </div>
            }

            <div id="div-CreditCard" class="credit-card-container HidePaymentTypeDiv" style="display:none;">
                <div class="col-12 p-0">
                    <div class="Tab-container dynamic-tabs mt-3">
                        <ul id="creditCardTab" class="nav nav-tabs">
                            <li class="active"><a href="#savedCreditCard-panel" id="savedPanel" data-toggle="tab" class="active tabs">@WebStore_Resources.LabelSavedCC</a></li>
                            <li><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.AddNewCreditCardDetails</a></li>
                        </ul>
                        <div id="creditCardPanel" class="tab-content clearfix">
                            <!--Panels 1-->
                            <div class="tab-pane fade in active show" id="savedCreditCard-panel">
                                <div id="radioCCList">
                                </div>
                            </div>
                            <!--Panels 2-->
                            <div class="tab-pane fade" id="addNewCreditCard-panel">
                                <h3 class="section-heading">@WebStore_Resources.LabelCreditCardDetails</h3>
                                <div class="col-12 save-cart p-0">
                                    <div id="paymentProviders">
                                    </div>
                                </div>
                                <div id="credit-card-div" class="col-12 p-0">
                                    <div class="form-group">
                                        <div class="col-12 p-0">
                                            <div class="control-label">
                                                <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle</label>
                                            </div>
                                            <div class="control-md">
                                                <input type="text" data-payment="number" class="creditCardPayment" maxlength="19" id="CredidCardNumber" />
                                                <div id="errornumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardNumber</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 p-0">
                                            <div class="control-label">
                                                <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardExpirationDate</label>
                                            </div>
                                            <div class="control-md col-12">
                                                <div class="row">
                                                    <div class="col-2 p-0"><input type="text" id="CredidCardExpMonth" maxlength="2" data-payment="exp-month" class="creditCardPayment" /><span class="sub">(MM)</span></div>
                                                    <div class="col-4"><input type="text" id="CredidCardExpYear" maxlength="4" data-payment="exp-year" class="creditCardPayment" /><span class="sub">(YYYY)</span></div>
                                                    <div class="col-12 p-0">
                                                        <div id="errormonth" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidDate</div>
                                                        <div id="erroryear" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidYear</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-12 p-0">
                                            <div class="control-label">
                                                <label class="required">@WebStore_Resources.SinglePageCheckoutCreditCardSecurityNo</label>
                                            </div>
                                            <div class="col-3 p-0">
                                                <input type="password" id="CredidCardCVCNumber" data-payment="cvc" maxlength="4" class="creditCardPayment" />
                                            </div>
                                            <div class="col-12 p-0">
                                                <span class="sub">@WebStore_Resources.HintTextCreditCardSecurityNumber</span>
                                                <div id="errorcvc" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorValidCVC</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="Save-credit-cardholder-name">
                                        <div class="col-12 p-0">
                                            <div class="control-label">
                                                <label class="required">@WebStore_Resources.CreditCardHolderName</label>
                                            </div>
                                            <div class="control-md">
                                                <input type="text" id="CardHolderName" data-payment="cardholderName" maxlength="100" class="form-input-long" />
                                                <div id="errorcardholderName" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardHolderName</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="Save-credit-card">
                                        <div class="col-12 p-0">
                                            <div class="control-md control-non styled-input">
                                                <input id="SaveCreditCard" name="SaveCreditCard" type="checkbox">
                                                <label for="SaveCreditCard">@WebStore_Resources.SaveCreditCardForFutueUse</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Gateway Information*@
                @Html.Hidden("GatewayCurrencyCode", "USD")
                @Html.Hidden("paymentProfileId")
                @Html.Hidden("hdnGatwayName")
                @Html.Hidden("hdnPaymentApplicationSettingId")
                @Html.Hidden("hdnPaymentCode")
                @Html.Hidden("hdnEncryptedTotalAmount")
                @Html.Hidden("BillingAccountNumber", billingAccountNumber)
                @if (string.IsNullOrEmpty(billingAccountNumber))
                {
                    <div class="form-group" id="div-InvoiceMe" style="display:none">
                        <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                            <input type="checkbox" class="input-checkbox" name="InvoiceMe" id="InvoiceMe" checked="checked" value="true">
                            <label for="InvoiceMe">@Html.RenderMessage(WebStoreConstants.InvoiceMeTextMessage)</label>
                        </div>
                    </div>
                }
                @*PayPal Express*@
                @*<div id="paypal-button" style="display:none"></div>*@
                <div id="div-PaypalExpress" class="col-sm-12 nopadding HidePaymentTypeDiv" style="display:none;">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-lg control-non">
                                <button id="paypal-express-checkout" type="button"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-26px.png" alt="PayPal Checkout"></button>
                                <p class="tinyfade margin-top">@Admin_Resources.LabelPaypalDescription</p>
                            </div>
                        </div>
                    </div>
                </div>

                @*Amazon Pay *@
                @if (!Equals(Model, null) && Model.Any(item => Equals(item.Type.ToLower(), "amazon_pay")))
                {
                    Html.RenderAction("AmazonPaymentOptions", "Checkout");
                }
                @Html.Hidden("PaymentSettingId")
                <div id="payment-provider-content">
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CredidCardNumber').payment('formatCardNumber');
    });
</script>

