﻿@using Znode.Engine.WebStore.ViewModels
@model RegisterViewModel

<p id="ExistingUserError" class="error-msg" />

<div class="form-group">
    <div class="col-lg-12 nopadding">
        @Html.TextBoxFor(m => m.FirstName, new { @alt = @WebStore_Resources.LabelFirstNameAlt, @id = "valFirstName", @required = "required", @title = @WebStore_Resources.LabelFirstNameTitle })
        <label placeholder="@WebStore_Resources.ColumnFirstName" class="required"></label>
         @Html.ValidationMessageFor(m => m.FirstName)
        <p class="error-msg">@Html.ValidationMessage("valFirstNameErr", "", new { @id = "valFirstNameErr" })</p>
    </div>
    <div class="col-lg-12 nopadding">
        @Html.TextBoxFor(m => m.LastName, new { @alt = @WebStore_Resources.LabelLastNameAlt, @id = "valLastName", @required = "required", @title = @WebStore_Resources.LabelLastNameTitle })
        <label placeholder="@WebStore_Resources.ColumnLastName" class="required"></label>
        @Html.ValidationMessageFor(m => m.LastName)
        <p class="error-msg">@Html.ValidationMessage("valLastNameErr", "", new { @id = "valLastNameErr" })</p>
    </div>
    <div class="col-lg-12 nopadding">
        @Html.TextBoxFor(m => m.UserName, new { @alt = @WebStore_Resources.ColumnEmailAddress, @id = "ValEmailAsUsernm", @required = "required", @title = @WebStore_Resources.LabelEmailAsUserName })
        <label placeholder="@WebStore_Resources.ColumnEmailAddress" class="required"></label>
        @Html.ValidationMessageFor(m => m.UserName)
        <p class="error-msg">@Html.ValidationMessage("ErrEmailAsUsernm", "", new { @id = "ErrEmailAsUsernm" })</p>
    </div>
    <div class="col-lg-12 nopadding">
        @Html.PasswordFor(m => m.Password, new { @alt = @WebStore_Resources.Create_a_password, @id = "ValPassword", @required = "required", @title = @WebStore_Resources.LabelPasswordTitle })
        <label placeholder="@WebStore_Resources.ColumnPassword" class="required"></label>
        @*<p class="sub">@WebStore_Resources.ValidPassword</p>*@
         @Html.ValidationMessageFor(m => m.Password)
        <p class="error-msg">@Html.ValidationMessage("ErrPassword", "", new { @id = "ErrPassword" })</p>
    </div>
    <div class="col-lg-12 nopadding">
        @Html.PasswordFor(m => m.ReTypePassword, new { @alt = @WebStore_Resources.LabelConfirmPasswordAlt, @id = "ValConfirmPwd", @required = "required", @title = @WebStore_Resources.LabelConfirmPasswordTittle })
        <label placeholder="@WebStore_Resources.ColumnConfirmPassword" class="required"></label>
         @Html.ValidationMessageFor(m => m.ReTypePassword)
        <p class="error-msg">@Html.ValidationMessage("ErrConfirmPwd", "", new { @id = "ErrConfirmPwd" })</p>
    </div>
    <div class="col-lg-12 nopadding">
        @Html.TextBoxFor(m => m.Email, new { @alt = @WebStore_Resources.TitleEmail, @id = "valEmail", @required = "required", @data_test_selector = "txtUsername", @title = @WebStore_Resources.LabelSubscriptionMailTittle })
        <label placeholder="@WebStore_Resources.LabelSubscriptionMail" class="required"></label>
        @Html.ValidationMessageFor(m => m.Email)
        <p class="error-msg">@Html.ValidationMessage("ErrEmailVal", "", new { @id = "ErrEmailVal" })</p>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12 styled-input nopadding">
        <input id="signup_optin" name="EmailOptIn" value="true" type="checkbox" checked="checked">
        <label for="signup_optin">@WebStore_Resources.TextPeriodicEmail</label>
    </div>
</div>


<div class="form-group">
    <div class="pull-right">
        @{
            string _returnUrl = Convert.ToString(Request.QueryString["returnUrl"]);
        }
        @Html.Hidden("returnUrl", _returnUrl)
    </div>
</div>
@Html.HiddenFor(x => x.UserName)
@Html.HiddenFor(x => x.Email)