﻿@model Znode.Engine.WebStore.ViewModels.ShortProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    Layout = null;
    string SeletedColor = Attributes.ValueFromSelectValue(Model?.Attributes, "Color");
}
<div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
	@if (Model?.ProductImage.AlternateImages?.Count > 0 && !Model.IsQuickView)
	{
		<div class="item">
			<a href="#" class="simpleLens-thumbnail-wrapper"
			   data-lens-image="@Model.ProductImage.OriginalImagepath"
			   data-big-image="@Model.ProductImage.ImageLargePath">
				<img src="@Model.ProductImage.ImageLargePath" />
			</a>
		</div>
        foreach (var galimg in Model.ProductImage.AlternateImages)
        {
            int index = 0;
            index = galimg.ImageSmallPath.LastIndexOf('/');
            string ProductImage = galimg.ImageSmallPath.Substring(index + 1);
            string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
            if (galimg.FileName == "videoThumb")
            {

            }
            else
            {
                <div class="item" id="image-1"><a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg "></a></div>
            }
         }
    }
</div>
<div id="alt-images" class="owl-carousel owl-theme hidden-xs owl-width">
    <!-- Vertical slider -->
    <ul class="hide-bullets tab-ul" id="img-repo">

        @foreach (var galimg in Model.ProductImage.AlternateImages)
        {
            int index = 0;
            index = galimg.ImageSmallPath.LastIndexOf('/');
            string ProductImage = galimg.ImageSmallPath.Substring(index + 1);
            string imagePath = PortalAgent.CurrentPortal.MediaServerUrl + ProductImage;
            if (galimg.FileName == "videoThumb")
            {
                <li class="item">
                    <a href="#myModal" class="thumbnail video" data-target="#videoModal" data-toggle="modal" data-video="@galimg.ImageLargePath">
                        <img src="@imagePath" class="img-responsive" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor" />
                    </a>
                </li>
            }
            else
            {
                <li class="item" id="image-1">
                    <a onclick="ChangeImage('@galimg.ImageLargePath','@galimg.OriginalImagePath')" href="@galimg.OriginalImagePath"><img src=@imagePath class="img-responsive thumbnail fixedbottomimg" alt="@Html.RenderBlock(Model.Name) @SeletedColor" title="@Html.RenderBlock(Model.Name) @SeletedColor"></a>
                </li>
            }
        }
    </ul>
</div>

<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>

<!--Product Zoom Effect-->
<script>
	$(function () {
		$('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
		$('#ImageZoom .simpleLens-big-image').simpleLens();

		$(".Product_Altimages").owlCarousel({
			autoPlay: false,
			navigation: true,
			items: 4,
			itemsCustom: [
				[0, 1],
				[320, 4],
				[480, 4],
				[600, 4],
				[768, 6],
				[992, 5],
				[1200, 6]
			],
			navigationText: [
				"<i class='zf-arrow-left-big'></i>",
				"<i class='zf-arrow-right-big'></i>"
			]
		});
	});

</script>
