﻿<div class="file-upload">
    <span class="btn-text file-upload-btn" title="Upload">@WebStore_Resources.BrowseButton</span>
    @{
        var metadata = ViewData.ModelMetadata;
        var prop = metadata.ContainerType.GetProperty(metadata.PropertyName);
        var attributes = prop.GetCustomAttributes(false);

        @Html.TextBox("", null, new { type = "file", @id = "PODocument" })
    }
    <span id="PODocumentFileName" class="col-sm-12 nopadding"></span>
    <span id="errorFileTypeAndSize" class="error-msg" style="float:left;"></span>
    <input type="hidden" id="po-document-path" />
</div>
<script>
    $("#PODocument").on("change", function () {
        var totalFiles = $(this)[0].files;
        $("#PODocumentFileName").text("");
        if (totalFiles.length > 0) {
            var fileExtension = $(this).val().split('.').pop().toLowerCase();
            if (fileExtension != "") {
                if ($.inArray(fileExtension, ['gif', 'png', 'jpg', 'jpeg', 'pdf', 'doc', 'docx', 'ppt', 'xls', 'zip', 'ttf', 'xlsx', 'odt', 'csv', 'txt', 'zip']) == -1) {
                    $("#errorFileTypeAndSize").html(ZnodeBase.prototype.getResourceByKeyName("ErrorFileTypeMessage"));
                    $("#btnCompleteCheckout").attr("disabled", "disabled");
                    return false;
                }
                if (totalFiles[0].size > 5242880) {
                    $("#errorFileTypeAndSize").html(ZnodeBase.prototype.getResourceByKeyName("ErrorFileSizeMessage"));
                    $("#btnCompleteCheckout").attr("disabled", "disabled");
                    return false;
                }               

                $("#PODocumentFileName").text(this.files[0].name);
                Checkout.prototype.UploadPODocument(totalFiles, function (response) {
                    $("#po-document-path").val(response.FileName);
                });
            }
            $("#btnCompleteCheckout").removeAttr("disabled");
            $("#errorFileTypeAndSize").html("");
        }
    })
</script>